---
version: '3.7'

services:
  telegram-bot-api:
    image: {{ image }} #aiogram/telegram-bot-api:latest
    environment:
      TELEGRAM_API_ID: {{ api_id }}
      TELEGRAM_API_HASH: {{ api_hash }}
    volumes:
      - {{ volume_dir }}-data:/var/lib/telegram-bot-api
    ports:
      - "8081:8081"

volumes:
  {{ volume_dir }}-data:

...
